@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
